:root{
    --borda: #ccc;
    --botao: #333;
    --letra: white;

}

body {
    background-image: url('https://images.pexels.com/photos/31052831/pexels-photo-31052831.jpeg?w=1200');
    background-repeat: no-repeat;
    background-size: cover; 
}
.form-contato {
    width: 80%;
    max-width: 500px;
    margin: auto;
    font-family: Arial, sans-serif;
}
.paragrafos {
    text-align: center;
    margin-bottom: 20px;
}
p {
    text-align: center;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--borda);
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: var(--botao);
    color: var(--letra);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.2s;
}

button:hover {
    background-color: var(--botao);
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}