:root{
    --botao: #333;
    --letra: white;
    --sobra: #000;
    --borda: #ccc;
}

body {
     background-image: url('https://images.pexels.com/photos/31052831/pexels-photo-31052831.jpeg?w=1200');
     background-repeat: no-repeat;
     background-size: cover; 
}
button {
    background-color: var(--botao);
    color: var(--letra);
    padding: 10px 20px;
    align-items: center;
}
.titulo {
    text-align: center;
    font-family: Arial, sans-serif;
    color: var(--letra);
    margin-top: 50px;
    text-shadow: 2px 2px 4px var(--sobra);
}
.produtos {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    font-family: Arial, sans-serif;
}

.produtos li {
    border: 1px solid var(--borda);
    padding: 15px;
    width: 200px;
    text-align: center;
}

.produtos li:hover {
    box-shadow: 0 5px 15px var(--sobra);
}

.produtos img {
    border-radius: 5px;
    margin-bottom: 10px;
}

.produtos h3 {
    margin: 10px 0 5px 0;
}

.produtos p {
    margin: 5px 0;
}